    .admin-main-content {
        max-width: 100%;
        padding: 40px 60px;
    }

    .order-detail {
        display: flex;
        flex-direction: column;
    }

    /* ========== UP ========== */
    .up {
        display: flex;
        justify-content: space-between;

    }

    .up #icon-back {
        cursor: pointer;
        font-size: 20px;
        padding: 2px 10px;
        border-radius: 10px;
        background: #f9fafb;
        color: #000;
        transition: transform 0.3s ease;
    }

    .up #icon-back:hover {
        background: #2477bf;
        color: #fff;
        box-shadow: 0 0 4px rgb(158 158 158 / 69%);
        transform: translateX(-5px);
    }

    .up .back {
        display: flex;
        gap: 8px;

    }

    .up div {
        display: flex;
        gap: 10px;
        align-items: center;

    }

    .up h2 {
        font-size: 15px;
    }

    .up h2 span {
        padding-left: 6px;
        font-size: 14px;
        color: #7d7b7b;
    }

    .up a {
        background: #2477bf;
        color: #fff;
        text-decoration: none;
        padding: 8px 10px;
        height: fit-content;
        border-radius: 8px;
    }

    .up a:hover {
        background-color: #1b5c93;
    }

    /* ========= END UP =============== */
    .center {
        display: flex;
        gap: 20px;
        margin: 10px 10px 10px 30px;

    }

    .info {
        flex: 1 65%;
        display: flex;
        flex-direction: column;
    }

    .info-cus {
        margin-bottom: 20px;
        margin-right: 10px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 0 20px 10px;
        line-height: 1.75;
    }

    .info-cus h2 {
        font-size: 20px;
        margin: 5px 0;
        text-decoration: underline;
    }

    .info-cus td span {
        padding-left: 20px;
        font-weight: 50;
        font-size: 14px;
        font-style: oblique;
    }

    .info-cus table {
        margin-left: 15px;
    }

    /* ========= LIST PRODUCT ======= */
    .list-product {
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
        padding: 20px 24px;
        max-width: 900px;
        margin-right: 10px;
        font-family: "Segoe UI", sans-serif;
        color: #333;
    }

    .list-product table {
        width: 100%;
        border-collapse: collapse;
    }

    .list-product thead tr {
        background: #a9a9a9d4;

    }

    .list-product thead td {
        text-align: left;
        font-weight: 600;
        color: #000;
        font-size: 14px;
        padding: 10px 8px;
        border-bottom: 2px solid #eee;
        border-right: 1px solid aliceblue;
    }

    .list-product tbody td {
        padding: 12px 8px;
        vertical-align: middle;
        font-size: 14px;
        border-bottom: 1px solid #f2f2f2;
    }

    .list-product tbody tr:last-child td {
        border-bottom: none;
    }

    .list-product img {
        width: 60px;
        height: 60px;
        border-radius: 8px;
        object-fit: cover;
        background: #f7f7f7;
    }

    .block-name-product h3 {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        color: #222;
    }

    .block-name-product span {
        font-size: 13px;
        color: #777;
    }

    .list-product td strong {
        font-weight: 700;
        color: #000;
    }

    .list-product>div {
        padding: 12px 10px;
        margin-top: 18px;
        border-top: 1px solid darkgray;
    }

    .list-product h4 {
        font-size: 16px;
        font-weight: 600;
        margin: 0 0 4px 0;
    }

    .list-product p {
        font-size: 14px;
        padding: 10px 20px;
        margin: 0;
        color: #444;
        background: #f7f7f7;
        border-radius: 8px;
    }

    /* --hover từng dòng */
    .list-product tbody tr:hover {
        background-color: #fafafa;
        transition: 0.2s ease;
    }

    /* ========== END LIST-PRODUCT ========== */

    .bill {
        flex: 1 35%;
        display: flex;
        flex-direction: column;

    }

    .bill-details {
        display: flex;
        flex-direction: column;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        border-radius: 10px;
        padding: 30px 20px;

    }

    .bill-details select {
        padding: 5px;
    }

    .bill-details select:hover {
        background: #77777724;
    }

    .bill-details select:focus {
        border-color: #2477BF;
        box-shadow: 0 0 4px rgba(36, 119, 191, 0.4);
    }



    .summary-bill h3 {
        border-top: 1px solid darkgray;
        padding-top: 10px;
    }

    .summary-bill h4 {
        text-decoration: underline;
    }

    .summary-bill p {
        margin: 16px 6px;
    }

    .summary-bill p span,
    .summary-bill h3 span {
        float: right;
    }

    .payment-type {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 0 20px;

    }

    table img {
        height: 90px;
    }

    table #img-so-A5 {
        height: 88px;
    }

    .btn {
        font-size: 16px;
        margin: 5px 20px;
        padding: 8px 10px;
        border-radius: 8px;
    }

    .update-status {
        background: #2477bf;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        border: none;
        box-shadow: 0 0 4px rgba(36, 119, 191, 0.4);
        transition: transform 0.3s ease;
    }

    .update-status:hover {
        background: #1f66a4;
        transform: translateY(-3px);
    }

    .contact {
        background: #fff;
        color: #000;
        border: 1px solid #000;
        margin-bottom: 10px;
        padding: 4px;
        transition: transform 0.3s ease;
    }

    .contact:hover {
        background: #c8c8c8;
        transform: translateY(-3px);
    }

    #block-accept-cancel {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .btn-accept {
        max-width: 120px;
        width: 100%;
        font-weight: 600;
        padding: 8px 20px;
        border-radius: 8px;
        background: rgb(240, 240, 240);
        border: none;
        transition: transform 0.3s ease;
    }

    .btn-accept:hover {
        background: green;
        transform: translateY(-3px);
    }

    .btn-cancel {
        max-width: 120px;
        width: 100%;
        font-weight: 600;
        padding: 8px 20px;
        border-radius: 8px;
        color: #fff;
        background: #d9534f;
        border: none;
        transition: transform 0.3s ease;
    }

    .btn-cancel:hover {
        background: #ac3a36;
        transform: translateY(-3px);
    }

    .payment-type h4 {
        text-decoration: underline;
    }

    .payment-type p {
        font-size: 14px;
    }