.admin-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.admin-content-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.btn.btn-primary {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}
.btn.btn-primary:hover {
    background-color: blue;
}
.btn.btn-primary i {
    margin-right: 8px;
}

/* ----- PRODUCTS TABLE ----- */
.product-table-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #eee;
}

.btn-action.edit {
    color: #f5a623;
}
.btn-action.delete {
    color: #d9534f;
}
.btn-action + .btn-action {
    margin-left: 15px;
}

.product-table th:nth-child(1) { width: 5%; }
.product-table th:nth-child(2) { width: 10%; }
.product-table th:nth-child(3) { width: 40%; }
.product-table th:nth-child(4) { width: 15%; }
.product-table th:nth-child(5) { width: 15%; }
.product-table th:nth-child(6) { width: 15%; }

.product-table td:nth-child(2),
.product-table th:nth-child(6),
.product-table td:nth-child(6) {
    text-align: center;
}