    .admin-order-manage-view {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    .admin-main-content .content-table-view {
        background: #f9fafb;
        border-radius: 10px;
        padding: 0 30px 20px;
    }

    .admin-main-content #title-table {
        font-size: 28px;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .admin-main-content .content-table-view .filter {
        float: right;
        padding: 0 5px 20px;
        border-radius: 8px;
    }

    .admin-main-content .content-table-view .filter select {
        padding: 4px 6px;
        cursor: pointer;
        border-radius: 6px;
    }

    .admin-main-content .content-table-view .filter select:focus {
        outline: none;
        border-color: #2477BF;
        box-shadow: 0 0 4px rgba(36, 119, 191, 0.4);
    }

    .admin-main-content .content-table-view .filter select:active {
        border-color: #2477BF;
        box-shadow: 0 0 4px rgba(36, 119, 191, 0.4);
    }

    .admin-main-content .content-table-view .table-view {
        width: 100%;
        border-collapse: collapse;
        /*---space-----*/
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .admin-main-content .table-view th,
    .admin-main-content .table-view td {
        padding: 12px 15px;
        text-align: left;
    }

    .admin-main-content .table-view thead {
        background-color: #ddd;
    }

    .admin-main-content .table-view tbody tr {
        border-bottom: 1px solid #e5e7eb;
        transition: background 0.2s;
    }

    .admin-main-content .table-view tbody tr:hover {
        background-color: #f9fafb;
    }

    /*---- Trạng thái */
    .admin-main-content .content-table-view .status {
        padding: 6px 10px;
        border-radius: 6px;
        font-size: 13px;
        font-weight: 500;
    }

    .admin-main-content .content-table-view .status.pending {
        background-color: #fef4e6;
        color: #f5a623;
    }

    .admin-main-content .content-table-view .status.shipped {
        background-color: #eaf1ff;
        color: #165FF2;
    }

    .admin-main-content .content-table-view .status.completed {
        background-color: #e6f7f0;
        color: #2e7d32;
    }

    .admin-main-content .content-table-view .status.canceled {
        background-color: #f8d7da;
        color: #842029;
    }

    /* ----------Nút xem */
    .admin-main-content .content-table-view .btn.view {
        color: #2563eb;
        text-decoration: none;
        font-weight: 500;
    }

    .content-table-view .btn.view:hover {
        text-decoration: underline;
    }






    /* =========footer=========== */
    .content-table-view .footer ul {
        display: flex;
        list-style: none;
        justify-content: center;
        cursor: pointer;
    }


    .content-table-view .footer li {
        border: 1px solid #dee2e6;
        padding: 10px 15px;
    }

    .content-table-view .footer li:hover {
        background-color: #ebecee;
    }

    .content-table-view .footer li.active {
        background-color: #0a58ca;

    }

    .content-table-view .footer li.active a {
        color: #fff;
    }

    .content-table-view .footer li a {
        text-decoration: none;
        color: #0a58ca;
    }