* {
    box-sizing: border-box;
    
}
h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
}
body, p, span {
  font-family: 'Roboto', sans-serif;
}

main {
    margin: 160px auto 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(158 158 158 / 18%);
    max-width: 100%;
    width: 100%;
    height: 320px;
    text-align: center;
    padding: 10px 20px;
}

i {
    margin-bottom: 20px;
    font-size: 100px;
    color: #d1d5dc;
}

h1 {
    font-size: 35px;
    margin: 10px 0;
}

main p {
    margin-top: 0;
    color: gray;
    font-size: 25px;
}

button {
    padding: 5px;
    font-size: 25px;
    border: 2px cornflowerblue;
    /* border-radius: 6px; */
    /* box-shadow: rgb(3 169 244 / 60%) 0px 0px 15px; */
    color: white;
    background-color: #155dfc;
    font-weight: lighter;
    height: 50px;
    max-width: 260px;
    width: 100%;
    cursor: pointer;
    box-shadow: 4px 5px 0 #999;
}
#icon-right {
    margin-left: 3px;
    font-size: 32px;
}
button:hover {
    background-color: #0e4dac;
    box-shadow: 2px 3px 0 #666;
    color: #999;
    transform: translateY(-2px);
     transform: translateX(5px); 
}
@media(max-width: 768px){
    main{
        margin: 100px auto 0;
        height: 280px;
    }
    h1{
        font-size: 28px;
    }
    main p{
        font-size: 20px;
    }
    button {
        font-size: 20px;
        height: 40px;
        max-width: 200px;
    }
    #icon-right {
        font-size: 24px;
    }
    i{
        font-size: 80px;
    }
}
@media(max-width: 426px){
    main{
        margin: 80px auto 0;
        height: 240px;
    }
    h1{
        font-size: 24px;
    }
    main p{
        font-size: 18px;
    }
    button {
        font-size: 15px;
        height: 35px;
        max-width: 150px;
    }
    #icon-right {
        font-size: 15px;
    }
    i{
        font-size: 60px;
    }
}