* {
    box-sizing: border-box;

}

h1,h2,h3 {
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 36px;
    margin: 20px 0 0;
}


.container p{
    margin-top: 5px;
}
#note{
    color: #656060;
    font-size: 14px;
}


body,p,span {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1230px;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    background-color: #f9fafb;

}

.cart-banner {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #333;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%;
     white-space: nowrap; /* không xuống dòng */
    overflow: hidden; /* ẩn phần chữ tràn ra ngoài khung */
    position: relative; 
    
}

.text-banner {
    display: inline-block;
    padding-left: 100%;    /* bắt đầu bên ngoài khung */

 /* thời gian và kiểu animation- [name]+[time]+ [speed(linear:chạy đều)]+ [Loop(infinite:lặp mãi mãi)] */
    animation: moveText 12s linear infinite;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    
}
/* funtion animation */
@keyframes moveText {
    0% {
        transform: translateX(0); /*bắt đầu từ vị trí 0 left*/
    }
    100% {
        transform: translateX(-100%);
    }
}

.view {
    margin-top: 40px;
    display: flex;
    gap: 40px;
   


}

.product-list {
    overflow-y: scroll;
    height: 450px;
    max-width: 800px;
    width: 100%;
    background-color: #f9fafb;
    
    
}


.product-detail {
    display: flex;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 3px 2px 5px #9e9e9e99;
    border: 2px solid #d1d5db;
    margin-bottom: 5px;
}

.product-detail img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    object-fit: fill;
}

.bill{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    border-radius: 6px;
    height: 370px;
    box-shadow: 3px 4px 5px #9e9e9e99;
    font-size: 15px;
}

.coupon{
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
    font-size: 13px;
}
.coupon button{
    font-size: 11px;
    cursor: pointer;
}
.coupon button:hover{
    background-color: #cacdd1d4;
}
.coupon input{
    padding: 2px 6px;
    margin-left: 5px;
    border: 1px solid #cbd5e1;
    border-radius: 4px;}
.bill h3{
    font-size: 20px;
    text-decoration: underline;
    margin: 0 0 10px;
}
.bill h2{
    font-size: 15px;
    margin-top: 10px;
}
.bill > button{
    margin-top: 10px;
    background-color: #155dfc;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
#bt-shop-continous{
    background-color: white;
    color: #000000;
    border: 1px solid #000000;
    margin-top: 10px;
    padding: 5px 0;
    height: 30px;
}
#bt-shop-continous:hover{
    background-color: #e2e8f0;
}
#bt-payment{
    padding: 10px 0;
    height: 38px;
}
#bt-payment:hover{
    background-color: #0d47a1;
}
#total{
    float: right;
}

.bill p{
    color: #4a5565;
}
.bill p span{
    color: #000000;
    float: right;
}
.product-detail img{
    border-radius: 6px;
    margin: 10px;
    cursor: pointer;
}
.product-detail h2{
    margin-bottom: 0;
}
#type-pro {
    color: #4a5565;
    margin: 5px;
    
}
#quantity {
    margin: 5px 0 10px 5px;
}
#quantity select{
    padding: 2px 6px;
    border: 1px solid #cbd5e1;
    border-radius: 4px;
    cursor: pointer;
}
#bt-remove{
    margin-top: 5px;
    font-weight: 500;
    cursor: pointer;
}
#bt-remove:hover{
    text-decoration: underline;
    color: red;
}
#cost{
    padding: 20px 0 0 60px;
    
}
#cost span{
    font-weight: 600;
    color: rgb(240, 7, 7);
}
@media(max-width: 768px){
    .view{
        flex-direction: column;
    }
    .bill{
        max-width: 100%;
        width: 100%;
        margin-top: 20px;
    }
    .product-list{
        max-width: 100%;
        width: 100%;
        height: 400px;
    }
}
@media(max-width: 480px){
    .cart-banner{
        font-size: 14px;
        padding: 8px;
    }
    .container{
        padding: 5px;
    }
    h1{
        font-size: 28px;
    }
    #note{
        font-size: 12px;
    }
    .view{
        flex-direction: column;
    }
    .product-list{
        height: 100%;
    }
    .product-detail{
        
        flex-direction: column;
        align-items: center;
    }
    .product-detail img{
            width: 120px;
        }
  
    .product-detail h2{
        font-size: 18px;
        text-align: center;
    }
    .product-detail div{
        text-align: center;
    }
    .product-detail p{
        font-size: 14px;
    }
    #bt-remove{
        font-size: 12px
    }
    #cost{
        padding: 10px 0 0 0;
        text-align: center;
    }

    
}