* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    margin: 5% 10%;
    display: flex;
    flex-direction: column;

}

main {
    background-color: rgb(215 235 255 / 80%);
    max-width: 825px;
    width: 100%;
    margin: auto;
    z-index: 1;
    border-radius: 10px;
    /* cho block main nằm trên background*/
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
}


form {
    flex: 1 1 60%;
    background-color: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 6px;
    margin-left: 5px;
    width: 60%;
    padding: 0px 20px;
    max-width: 450570px;
    height: 430px;
}


.title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;


}

.title h1 {
    font-size: 32px;
    color: #111;
}

.title p {
    font-size: 16px;
    color: #666;
    margin-top: 8px;
}

.information {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 12px;
    max-width: 1026px;
    margin: 0 auto 60px;
    gap: 20px;
}


#form-title {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
    color: #111;
}

.name-email {
    display: flex;
    gap: 15px;
}


.name-block,
.email-block,
.subject-block,
.message-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

label span {
    color: red;
}

input,
textarea {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: border 0.2s;
    background-color: #eaeaef;
}

input:focus,
textarea:focus {
    border-color: #007bff;
}

textarea {
    resize: none;
    height: 90px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    width: 100%;
    transition: background 0.3s;
}

button:hover {
    background-color: #005ecf;
}

/*  THÔNG TIN LIÊN HỆ  */
.info-detail {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-detail>div {
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px;
    height: 95px;
}

.info-detail i {
    font-size: 20px;
    color: #007bff;
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    border-radius: 50% 50%;
    padding: 10px;
    background-color: #007bff3b;
}

.info-detail h3 {
    font-size: 16px;
    font-weight: 600;
    color: #111;
    padding-bottom: 5px;
}

.info-detail a {
    color: #555;
    text-decoration: none;
    font-size: 14px;
    padding-top: 5px;
}

.info-detail a:hover {
    color: #007bff;
}

/*  Tablet */
@media (max-width: 768px) {
    .information {
        flex-direction: column;
    }

    .name-email {
        flex-direction: column;
        gap: 9px;
    }

    form, .info-detail {
        max-width: 600px;
        width: 100%;
        margin: auto;

    }

    button {
        margin-bottom: 10px;
    }

    .info-detail>div {
        height: 70px;
        gap: 20px;
    }

    .info-detail h3 {
        padding-bottom: 0;
        margin: auto;
    }

    .info-detail a {
        padding-top: 0;
    }
    
}

/* Mobile */
@media (max-width: 426px) {
    form, .info-detail {
        max-width: 320px;
        width: 100%;
    }
}

.bg {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    /*Cho background nằm dưới form*/
    opacity: 0.8;
    /* lớp phủ mờ background*/

}