.contact-page-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 80px;
}

.contact-page-wrapper * {
    box-sizing: border-box;
}

.contact-page-wrapper .bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    opacity: 0.8;
}

.contact-page-wrapper main {
    background-color: rgb(215 235 255 / 80%);
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    z-index: 1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 15px;
    position: relative;
    padding-bottom: 5px;
}


.contact-page-wrapper form {
    flex: 1 1 55%;
    background-color: #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.05) 0 2px 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    margin-left: 0;
    padding: 20px;
}

.contact-page-wrapper .title {
    text-align: center;
    padding-top: 5px;
}

.contact-page-wrapper .title h1 {
    color: black;
    font-size: 40px;
    font-weight: 550;
}

.contact-page-wrapper .title p {
    font-size: 20px;
    color: gray;
    margin-top: -10px;
    margin-bottom: 50px;
}

.contact-page-wrapper .information {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 12px;
    max-width: 1026px;
    margin: 0 auto 60px;
    gap: 20px;
    padding: 0 60px;
}


.contact-page-wrapper #form-title {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
    color: #111;
}

.contact-page-wrapper .name-email {
    display: flex;
    gap: 15px;
}


.contact-page-wrapper .name-block,
.contact-page-wrapper .email-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    flex: 1;
}

.contact-page-wrapper .subject-block,
.contact-page-wrapper .message-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}
.contact-page-wrapper label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.contact-page-wrapper label span {
    color: red;
}

.contact-page-wrapper input,
.contact-page-wrapper textarea {
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    outline: none;
    transition: border 0.2s;
    background-color: #eaeaef;
}

.contact-page-wrapper input:focus,
.contact-page-wrapper textarea:focus {
    border-color: #007bff;
}

.contact-page-wrapper textarea {
    resize: none;
    height: 90px;
}

.contact-page-wrapper button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    width: 100%;
    transition: background 0.3s;
}

.contact-page-wrapper button:hover {
    background-color: blue;
}

.contact-page-wrapper .info-detail {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-page-wrapper .info-box {
    background-color: white;
    border-radius: 25px;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0 2px 6px;
}

.contact-page-wrapper .info-icon {
    font-size: 20px;
    color: var(--primary-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #007bff3b;
    flex-shrink: 0;
    display: grid;
    place-items: center;
}

.contact-page-wrapper .info-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.contact-page-wrapper .info-title {
    font-size: 16px;
    font-weight: 600;
    color: #111;
    margin: 0 0 4px 0;
}

.contact-page-wrapper .info-link {
    color: #555;
    text-decoration: none;
    font-size: 14px;
    margin: 0;
    word-break: break-word;
}

.contact-page-wrapper .info-link:hover {
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .contact-page-wrapper .information {
        flex-direction: column;
    }

    .contact-page-wrapper .name-email {
        flex-direction: column;
        gap: 9px;
    }

    .contact-page-wrapper form,
    .contact-page-wrapper .info-detail {
        max-width: 600px;
        width: 100%;
        margin: auto;
    }

    .contact-page-wrapper button {
        margin-bottom: 10px;
    }

    .contact-page-wrapper .info-detail>div {
        height: 70px;
        gap: 20px;
    }

    .contact-page-wrapper .info-detail h3 {
        padding-bottom: 0;
        margin: auto;
    }

    .contact-page-wrapper .info-detail a {
        padding-top: 0;
    }

}