.form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 520px;
    overflow: hidden;
    z-index: 2;
    margin: 100px auto;
    background: var(--primary-color);
}
/*---------------- LOGIN ----------------*/
.login-container {
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

/*---------------- REGISTER ----------------*/
.register-container {
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.top span{
    color: white;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a{
    font-weight: 500;
    color: white;
    margin-left: 5px;
}

header{
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.two-forms{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.input-field{
    font-size: 15px;
    color: white;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    outline: none;
    border-radius: 30px;
    transition: .2s ease;
    box-sizing: border-box;
}

.input-field:hover, .input-field:focus{
    background: var(--secondary-color);
}

::-webkit-input-placeholder {
    color: white;
}

.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: white;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.two-col{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: small;
    margin-top: 10px;
}

.two-col .one{
    display: flex;
    gap: 5px;
}

.two-col label a{
    text-decoration: none;
    color: white;
}

.two-col label a:hover{
    text-decoration: underline;
}