.form-wrapper {
    background-image: url("../images/login-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    width: 100%;
    min-height: calc(100vh - 100px);
    padding: 100px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 520px;
    overflow: hidden;
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-sizing: border-box;
}

/*---------------- LOGIN ----------------*/
.login-container {
    position: absolute;
    left: 40px;
    width: calc(100% - 80px);
    justify-content: center;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

/*---------------- REGISTER ----------------*/
.register-container {
    position: absolute;
    right: -100%;
    width: calc(100% - 80px);
    justify-content: center;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}

.register-container .two-col {
    justify-content: left;
    gap: 5px;
}

.register-container .two-col .two a {
    text-decoration: underline;
}

/*---------------- BOTH ----------------*/
header {
    color: white;
    font-size: 40px;
    font-weight: 550;
    text-align: center;
    padding: 15px 0 35px 0;
}

.two-forms {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.input-field {
    font-size: 15px;
    color: var(--fourth-color);
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    outline: none;
    border-radius: 30px;
    transition: .2s ease;
    box-sizing: border-box;
}

.input-field:hover, .input-field:focus {
    background: var(--secondary-color);
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: var(--fourth-color);
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: white;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: var(--primary-color);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: blue;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.two-col label a {
    text-decoration: none;
    color: white;
}

.two-col label a:hover {
    text-decoration: underline;
}

.bottom span {
    color: white;
    font-size: 15px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bottom span a {
    font-weight: 500;
    color: var(--primary-color);
    margin-left: 5px;
    text-decoration: none;
}
