.product-details-main{
    display: flex;
    flex-direction: column;
    padding: 100px 0 50px 0;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
}
.product-details-main .product-details{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    border-bottom: 1px solid;

}


/* =========Img selected================= */
.product-details-main .product-details nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.product-details-main .product-details nav .img-select{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}
.product-details-main .product-details nav .img-select button{
    border: 2px solid #ccc;
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    height: 60px;
    width: 70px;
}
.product-details-main .product-details nav .img-select button:hover{
    border-color: #1c2de2;
}
.product-details-main #img-0,
.product-details-main #img-1,
.product-details-main #img-2,
.product-details-main #img-3,
.product-details-main #img-4{
    max-width: 70px;
    width: 100%;
    height: 45px;
    object-fit: cover;
}
/* active khi chọn ảnh */
.selected{
    border-color: #1c2de2 !important;
    opacity: 1; /* độ phủ mờ ảnh*/
}


 /* ===============End img-select================= */

 /* ================Img-Main======================= */
.product-details-main .product-details .img-main{
    
    width: fit-content;
    object-fit: cover;
    
}
.product-details-main .product-details .img-main img{
    max-width: 580px;
    width: 100%;
    height: 500px;
    padding: 20px 20px 20px 0;
    border-radius: 10px;
    
}

/* ================end Img-Main======================= */

/* ================Info-Product======================= */

.product-details-main .block-rate-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.product-details-main .product-details .info-product{
    max-width: 435px;
    padding: 10px 20px;
}
.product-details-main .product-details .info-product h3{
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px;
    background: bisque;
    padding: 2px 8px;
}
.product-details-main .product-details .info-product .rate {
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;

}
.product-details-main .product-details .info-product .rate a{
    text-decoration: none;
    color: #000;
}
.product-details-main .product-details .info-product .rate a:hover{
    text-decoration: underline;
}
.product-details-main .product-details  .fa-regular:hover{
    color: #f1c40f;
}
.product-details-main .product-details .rate i:not(.fa-regular){
    color: #f1c40f;
    margin-right: 5px;
}
.product-details-main .product-details .info-product .product-name{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0px 10px 10px;
    min-height: 44px;
}


.product-details-main .product-details  .price{
    font-size: 24px;
    color: #e74c3c;
    margin: 0 0 10px 20px;
}
.product-details-main .product-details  .current-price{
    font-weight: 600;
    margin-bottom: 5px;
    
}
.product-details-main .product-details  .original-price{
    font-size: 18px;
    color: #7f8c8d;
    text-decoration: line-through;
}
.product-details-main .product-details  .price #discount{
    font-size: 16px;
    font-weight: 600;
    color: #e74c3c;
    margin-top: 5px;

}

.product-details-main  .info-description{
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 20px 20px;
}
.product-details-main  .block-quatity-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.product-details-main .product-details  .quantity{
    display: flex;
    align-items: center;
    border: 2px solid;
    border-radius: 40px;
    height: fit-content;
    max-width: fit-content;
    width: fit-content;
}
.product-details-main .product-details  #bt-down{
    margin: 2px 0 3px 3px;
    font-size: 25px;
    height: 30px;
    max-width: 40px;
    width: 100%;
    border-radius: inherit;
    outline: none;
    border: none;
    background: #ffffff;
    cursor: pointer;
     transition: all 0.35s ease;
}
.product-details-main .product-details .quantity input{
    height: 30px;
    max-width: 60px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0 -3px;
    padding-bottom: 1px;
    outline: none;
}
.product-details-main .product-details  #bt-up{
    margin: 2px 3px 3px 0;
    font-size: 25px;
    height:30px;
    max-width: 40px;
    width: 100%;
    border-radius: inherit;
    outline: none;
    border: none;
    background: #ffffff;
    cursor: pointer;
     transition: all 0.35s ease;
}
.product-details-main .product-details  #bt-down:active,
.product-details-main .product-details  #bt-up:active:hover{
    background-color: #9E9E9E;
    transform: scale(1.1);/*phóng to nút khi hover*/
}
.product-details-main .product-details  #bt-down:active,
.product-details-main .product-details  #bt-up:active{
    color: white;
    box-shadow: 0 0 10px #9E9E9E;
}


.product-details-main .product-details .info-product .bt-add-cart{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 7px;
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
}
.product-details-main .product-details .info-product .bt-add-cart:hover{
    background-color: blue;
    transform: translateY(-5px);
}
.product-details-main .product-details .product-share {
    margin-top: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: left;
}
.product-details-main .product-details .product-share i{
    cursor: pointer;
}
.product-details-main .product-details .product-share i:hover{
    color: #1c2de2;
}

/* ============End Info-Product=================== */
.product-details-main .block-description{
    display: flex;
    gap: 30px;
}
.product-details-main .tag-title{
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 210px;
    width: 100%;
}
.product-details-main .tag-title h2{
    padding: 10px;
    margin: 0;
    cursor: pointer;
    font-size: 21px;
}
.product-details-main .tag-title button{
    height: 50px;
    max-width: 210px;
    width: 100%;
    padding: 0;
    /* align-items: center; */
    border-radius: 15px;
    /* padding: 10px; */
    margin: 10px 0 0 0;
    cursor: pointer;
}
.product-details-main .tag-title button:hover{
    background-color: #3778e1;
    color: #fff;
    box-shadow: 5px 5px 5px #9e9e9e99;
    border: none;
    transform: scale(1.08);

}
/* ===========Mô tả sản phẩm============= */
.product-details-main .tag-title-display{

}
.product-details-main .tag-title-display h1{
    color: #000;
    font-size: 35px;
    margin-top: 0;

}
.product-details-main .tag-title-display p{
    font-size: 17px;
}
.product-details-main .tag-title-display p #first-line{
    font-size: 22px;
    font-weight: 700;
    color: #000;
}
.product-details-main .tag-title-display p a{
    text-decoration: none;
    color: #1c2de2;
}
/* ===========END Mô tả sản phẩm============= */

/* ===========Thông tin SP============= */
.product-details-main #tag-title-display-info ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: decimal;
}
.product-details-main #tag-title-display-info li {
    height: 70px;
    font-size: 20px;
    align-content: center;
}


.product-details-main #tag-title-display-info li:nth-child(odd){
    background: aliceblue;
}

/* ===========END Thông tin SP============= */
/* ===========review============= */
.product-details-main #review{}
.product-details-main  .block-User-feedback{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 20px;
    box-shadow: 3px 5px 5px #9e9e9e99;
    border-radius: 30px;
    padding: 10px 20px;
}
.product-details-main  .block-User{
    display: flex;
    gap: 20px;
}
.product-details-main .block-User  img{
    aspect-ratio: 1 / 1;
    width: 80px;
    border-radius: 50%;
}
.product-details-main .block-User h2{
    margin-bottom: 5px;
}
.product-details-main .user-write{
    margin: 20px 0 5px 100px;
}
.product-details-main .user-rate{
   margin: 25px;
   cursor: pointer;
}
.product-details-main .user-rate .fa-solid{
    color: #f1c40f;
    
}
.product-details-main .user-rate .fa-regular:hover{
    color: #f1c40f;
}
/* ===========END review============= */

/* ===========FEEDBACK============= */
.product-details-main .your-review form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid;
    padding: 10px 20px 20px;
    border-radius: 8px;
}
.product-details-main .your-review{
    max-width: 890px;
    width: 100%;
}
.product-details-main .your-review h2{
    margin-bottom: 0;
    color: #000;
}
.product-details-main .your-review p{
    margin-top: 0;
}
.product-details-main .your-review p span{
    color: #ce210e;
}
.product-details-main .your-rate span{
    font-weight: 600;
}
.product-details-main .your-rate i{
    cursor: pointer;
}
.product-details-main .fa-regular:hover{
    color: #f1c40f;
}

.product-details-main .your-review textarea{
    margin-top: 15px;
    height: 80px;
    max-width: 770px;
    width: 100%;
    resize: none;
    padding: 20px 10px;
    font-size: 16px;
    font-weight: normal;
}
.product-details-main .your-review .block-username-email{
    display: flex;
    justify-content: space-between;
}
.product-details-main .your-review .block-username-email input{
    margin-top: 8px;
    height: 30px;
    max-width: 350px;
    width: 100%;
    font-size: 16px;
    padding: 3px 20px;
}
.product-details-main .your-review .block-save-info{
    margin: 10px 0;
}
.product-details-main .your-review button{
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 10px;
    background: #0c971a;
    outline: none;
    border: none;
    box-shadow: 5px 5px 5px darkgrey;
    cursor: pointer;
}
/* ===========END FEEDBACK============= */

/* ===============BUTTON + JS CHỌN TAG =============*/
/* Nút đang chọn */
.product-details-main .tag-btn.active {
    background-color: #4285f4;
    color: #fff;
    border-color: #4285f4;
    /* box-shadow: 5px 5px 6px #9e9e9e99; */
}

/* Vùng hiển thị nội dung tag */
.product-details-main .tag-display {
    display: none;
    padding: 15px;
    animation:  0.4s ;
}

.product-details-main .tag-display.active {
    display: block;
}



/* ===============end BUTTON + JS CHỌN TAG =============*/