:root {
    --primary-color: #165FF2;
    --secondary-color: #EAF1FF;
    --third-color: #F9FAFB;
    --fourth-color: #101828;
    --color-text: #cfcfcf;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

/*---------------------- HEADER SECTION ----------------------*/
.nav-wrapper {
    display: flex;
    flex-grow: 1;
}

.header-right-side {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 55px;
}

nav .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-bottom: 2px solid #eee;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: white;
}

nav .menu-bar {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav .logo {
    margin-left: 55px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav .menu-bar .menu {
    width: fit-content;
    padding: 30px 20px;
    cursor: pointer;
    color: #666;
    font-weight: 540;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav .menu-bar .menu:hover {
    color: var(--primary-color);
    background: #eee;
}

nav .user-action {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .user-action .cart-btn {
    padding: 12px;
    font-size: 17px;
    color: black;
    text-decoration: none;
}

nav .user-action .cart-btn:hover {
    background-color: #eee;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

nav .user-action .login-btn {
    background-color: black;
    color: var(--color-text);
    border-radius: 5px;
    cursor: pointer;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

nav .user-action .login-btn:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    color: white;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 22px;
    color: black;
}

.menu-toggle #menu-close-icon {
    display: none;
}

.menu-toggle.active #menu-open-icon {
    display: none;
}

.menu-toggle.active #menu-close-icon {
    display: block;
}

@media (max-width: 768px) {
    nav .logo {
        margin-left: 20px;
    }

    .header-right-side {
        margin-right: 20px;
        gap: 15px;
        align-items: center;
    }

    .menu-toggle {
        display: block;
        padding: 12px;
        font-size: 17px;
        line-height: 1;
    }

    .menu-toggle:hover {
        background-color: #eee;
        border-radius: 5px;
        cursor: pointer;
    }

    .nav-wrapper {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    .nav-wrapper.mobile-active {
        display: block;
    }

    nav .menu-bar {
        flex-direction: column;
        flex-grow: 0;
        width: 100%;
        justify-content: flex-start;
    }

    nav .menu-bar .menu {
        width: auto;
        text-align: left;
        padding: 18px 20px;
        border-bottom: 1px solid #f0f0f0;
    }

    nav .menu-bar .menu:hover {
        background-color: #f9f9f9;
    }

    nav .user-action {
        gap: 15px;
    }

    nav .user-action .login-btn {
        font-size: 0;
        padding: 12px;
        position: relative;
        text-align: center;
        background: transparent;
    }

    nav .user-action .login-btn::before {
        content: "\f007";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 17px;
        color: black;
    }

    nav .user-action .login-btn:hover {
        background-color: #eee;
    }
}

/*---------------------- FOOTER ----------------------*/
.main-footer {
    background-color: var(--fourth-color);
    color: var(--color-text);
    padding-top: 60px;
}

.footer-container {
    margin: 0 auto;
    padding: 0 20px 40px 20px;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: grid;
    gap: 30px;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    max-width: 1280px;
}

.footer-col {
    flex: 1;
}

.footer-col-info {
    max-width: 300px;
    flex: 1.5;
}

.footer-logo {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--color-text);
}

.footer-description {
    font-size: 15px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
}

.footer-heading {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--color-text);
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
    display: block;
}

.footer-col ul li a {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.3s;
    text-decoration: none;
}

.footer-col ul li a:hover {
    color: var(--color-text);
}

.social-icons i {
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.3s;
}

.social-icons i:hover {
    color: var(--primary-color);
}

.footer-bottom {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        text-align: center;
    }

    .footer-col-info{
        grid-column: 1 / -1;
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
    }

    .social-icons {
        justify-content: center;
    }
}

/*---------------------- PAGE TRANSITION ----------------------*/
.main {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.main.page-is-loading {
    opacity: 0;
    transition: opacity 0.3s ease;
}