:root {
    --primary-color: #165FF2;
    --secondary-color: #EAF1FF;
    --third-color: #F9FAFB;
    --fourth-color: #101828;
    --color-text: #eee;
}

body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    color:#333;
}

/*---------------------- HEADER SECTION ----------------------*/
nav .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-bottom: 2px solid #eee;
}

nav .menu-bar{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

nav .logo{
    margin-left: 35px;
    cursor: pointer;
}

nav .menu-bar .menu{
    width: fit-content;
    padding: 30px 20px;
    cursor: pointer;
    color: #666;
    font-weight: 540;
    font-size: 16px;
    text-decoration: none;
}

nav .menu-bar .menu:hover{
    color: var(--primary-color);
    background: #eee;
}

nav .user-action{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 35px;
}

nav .user-action .cart-btn{
    padding: 12px;
}

nav .user-action .cart-btn:hover{
    background-color: #eee;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

nav .user-action .login-btn{
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-weight: bold;
}

/*---------------------- INTRODUCE SECTION ----------------------*/
.introduce-section{
    background-color: var(--secondary-color);
    padding: 80px 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 60px;
}

.introduce-section .introduce-container{
    flex: 1;
    max-width: 50%;
    margin-left: 55px;
}

.introduce-section .introduce-container .introduce-title{
    font-size: 45px;
    font-weight: 550;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
}

.introduce-section .introduce-container .introduce-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
}

.introduce-section .introduce-container .introduce-btn{
    display: flex;
    gap: 20px;
}

.introduce-section .introduce-container .introduce-btn .btn{
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: opacity 0.3s;
    text-decoration: none;
    padding: 12px 25px;
}

.introduce-section .introduce-container .introduce-btn .btn-primary{
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.introduce-section .introduce-container .introduce-btn .btn-primary:hover{
    background-color: blue;
}

.introduce-section .introduce-container .introduce-btn .btn-secondary{
    color: black;
    background-color: white;
    border-radius: 5px;
    border: 1px solid var(--color-text);
}

.introduce-section .introduce-container .introduce-btn .btn-secondary:hover{
    background-color: lightgray;
}

.introduce-section .introduce-img{
    flex: 1;
    display: flex;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-right: 35px;
}

.introduce-img img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
}

/*---------------------- BEST SELLING SECTION ----------------------*/
.best-selling-section{
    padding: 80px 20px;
}

.best-selling-section .product-container{
    margin: 0 auto;
    text-align: center;
}

.best-selling-section .product-container .best-selling-title{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 10px;
}

.best-selling-section .product-container .best-selling-subtitle{
    font-size: 18px;
    color:var(--fourth-color);
    margin-bottom: 50px;
}

.best-selling-section .product-container .product-grid{
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 40px;
}

.best-selling-section .product-container .product-grid .product-card{
    border: 2px solid var(--color-text);
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.best-selling-section .product-container .product-grid .product-card:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px);
}

.product-name {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 5px 0;
}

.product-price {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    margin: 0 0 15px 0;
}

.buy-button {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: blue;
}

.best-selling-section .view-all-btn-container{
    margin-top: 50px;
}

.best-selling-section .view-all-btn-container .view-all-btn{
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 12px 30px;
    color: white;
    text-decoration: none;
}

.best-selling-section .view-all-btn-container .view-all-btn:hover{
    background-color: blue;
}