.admin-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.admin-content-header h1 {
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}

.btn.btn-primary {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}
.btn.btn-primary:hover {
    background-color: blue;
}
.btn.btn-primary i {
    margin-right: 8px;
}

/* ----- PRODUCTS TABLE ----- */
.product-table-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #eee;
}

.btn-action.edit {
    color: #007bff;
}
.btn-action.delete {
    color: #dc3545;
}
.btn-action + .btn-action {
    margin-left: 15px;
}

.product-table th:nth-child(1) { width: 5%; }
.product-table th:nth-child(2) { width: 10%; }
.product-table th:nth-child(3) { width: 35%; }
.product-table th:nth-child(4) { width: 15%; }
.product-table th:nth-child(5) { width: 10%; }
.product-table th:nth-child(6) { width: 10%; }
.product-table th:nth-child(7) { width: 15%; }

.content-table-card .content-table thead th,
.content-table-card .content-table tbody td {
    text-align: center;
}

.content-table-card .content-table thead th:nth-child(3),
.content-table-card .content-table tbody td:nth-child(3) {
    text-align: left;
}

/* ========= Table ========== */
.content-table-card{
    background: #fff;
    padding: 20px 25px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.content-table-card .content-table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}
.content-table-card .content-table thead tr{
     background: #f1f3f5;
    border-radius: 12px;
}
.content-table th {
    background: #f1f3f5;
}
.content-table-card .content-table thead th{
     padding: 14px 18px;
    font-weight: 600;
    color: #333;
}
.content-table-card .content-table tbody tr{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.06);
    transition: 0.2s ease;
}
.content-table-card .content-table tbody tr:hover{
    transform: translateY(-2px);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.content-table-card .content-table tbody td{
    padding: 14px 18px;
    color: #444;
    vertical-align: middle;
    background: #fff;
    border-top: 1px solid #f1f1f1;
}